.gg{
    background-color: blue;
}
.changebg1{
    background-color: black;
    color : white
}
.changebg2{
    background-color: white;
}
.changebg3{
    background-color: black;
    color : white
}
.changebg4{
    background-color: white;
}
.changebg5{
    background-color: black;
    color : white
}
.changebg6{
    background-color: white;
}
.changebg7{
    background-color: black;
    color : white
}
.changebg8{
    background-color: white;
}
.changebg9{
    background-color: black;
    color : white
}
.changebg10{
    background-color: white;
}
.changebg11{
    background-color: black;
    color : white
}
.changebg12{
    background-color: white;
}
.changebg13{
    background-color: black;
    color : white
}
.changebg14{
    background-color: white;
}
.changebg15{
    background-color: black;
    color : white
}
.changebg16{
    background-color: white;
}
.changebg17{
    background-color: black;
    color : white
}
.changebg18{
    background-color: white;
}
.changebg19{
    background-color: black;
    color : white
}
.changebg20{
    background-color: white;
}
.changebg21{
    background-color: black;
    color : white
}
.changebg22{
    background-color: white;
}
.changebg23{
    background-color: black;
    color : white
}
.changebg24{
    background-color: white;
}
.changebg25{
    background-color: black;
    color : white
}
.changebg26{
    background-color: white;
}
.changebg27{
    background-color: black;
    color : white
}
.changebg28{
    background-color: white;
}